:root{
    --ColorBorderCBEC:#171717;
    --ColorBackgroundCBEC:#FEF2F2;
    --ColorBorderBoxHoverCBEC:#DC2626;
}

.ComBoxElementCursoDocSubirGeneralContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ComBoxElementCursoDocSubirContainer{
    width: 94%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--ColorBorderCBEC);
    background-color: var(--ColorBackgroundCBEC);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-self: flex-start;
    margin-left: 10px;
}

.ComBoxElementCursoDocSubirContainer .PMd{
    cursor: pointer;
}


.FaFileUploadContainer{
    color: var(--ColorBorderCBEC);
    font-size: 34px;
    display: flex;
}

.ComBoxElementCursoDocSubirContainer:hover{
    border: 1px solid var(--ColorBorderBoxHoverCBEC);
    box-shadow: 4px 4px 4px 0px #dc262633;
    transition: 150ms;
}
.ComBoxElementCurSubirFormSubida{
    width: 94%;
    height: auto;
    border: 1px solid var(--ColorBorderCBEC);
    background-color: var(--ColorBackgroundCBEC);
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.ComBoxElementCurSubirFormSubida form{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}


.ComBoxElementCurSubirFormSubida form input,  
.ComBoxElementCurSubirFormSubida form label,
.ComBoxElementCurSubirFormSubida form textarea{
    padding: 10px;
    box-sizing: border-box;
}

.ComBoxElementCurSubirFormSubida form input, 
.ComBoxElementCurSubirFormSubida form textarea{
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--ColorBorderCBEC);
    width: 75%;
    margin-bottom: 0;
}


.ComBoxElementCurSubirFormSubida form input[type="file"]{
    border: none;
    margin: 0;
}

.ComBoxElementCurSubirFormSubida form textarea{
    resize:none;
    height: 120px;
}

.ComBoxElementCurSubirFormSubida form .FormSubConSecContainer{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


.ComBoxElementCurSubirFormSubida form .FormSubConTerContainer{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ComBoxElementCurSubirFormSubida form .FormSubConTerContainer label{
    align-self: flex-start;
}


.ComBoxElementCurSubirFormSubida form .FormSubConTerSubContainer label{
    justify-self:flex-start;
}

.ComBoxElementCurSubirFormSubida form .ButtonSubmitCursoSubir{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 20%;
}

@media (max-width:516px) {
    .ComBoxElementCursoDocSubirGeneralContainer{
        width: 90vw;
    }
    .ComBoxElementCurSubirFormSubida form .FormSubConSecContainer, .ComBoxElementCurSubirFormSubida form .FormSubConTerContainer{
        flex-direction: column;
    }
    .ComBoxElementCurSubirFormSubida form .FormSubConTerContainer label {
        align-self: center;
    }
}


@media (max-width:456px) {
    .ComBoxElementCursoDocSubirGeneralContainer{
        width: 89vw;
    }
}


@media (max-width:376px) {
    .ComBoxElementCursoDocSubirGeneralContainer{
        width: 88.5vw;
    }
}
