:root{
    --ColorBorderCBEC:#171717;
    --ColorBackgroundCBEC:#FEE2E2;
    --ColorBorderBoxHoverCBEC:#DC2626;
}

.ComBoxElementCursoDocSubirGeneralContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ComBoxElementCursoDocSubirContainer{
    width: 94%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--ColorBorderCBEC);
    background-color: var(--ColorBackgroundCBEC);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-self: flex-start;
    margin-left: 10px;
}

.FaFileUploadContainer{
    color: var(--ColorBorderCBEC);
    font-size: 34px;
    display: flex;
}

.ComBoxElementCursoDocSubirContainer:hover{
    border: 1px solid var(--ColorBorderBoxHoverCBEC);
    box-shadow: 4px 4px 4px 0px #dc262633;
    transition: 150ms;
}
.ComBoxElementCurSubirFormSubida{
    width: 94%;
    height: auto;
    border: 1px solid var(--ColorBorderCBEC);
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.ComBoxElementCurSubirFormSubida input,  .ComBoxElementCurSubirFormSubida label{
    padding: 10px;
    box-sizing: border-box;
}

.ButtonSubmitCursoSubir{
    display: flex;
    align-items: center;
    justify-content: center;
}