:root {
  --ColorBorderFormSubCurso: #171717;
}

/* Estilos generales del contenedor */
.FormularioAgregarSubCursoContainer {
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos del formulario */
.FormularioAgregarSubCursoContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid var(--ColorBorderFormSubCurso);
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 600px;
  width: 100%;
}

.FormularioAgregarSubCursoContainer form h3 {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem; /* Tamaño de fuente base */
}

/* Contenedor principal del contenido del formulario */
.formularioAgregarSubCursoContentPrin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

/* Estilos para los contenedores de etiqueta y entrada */
.label-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-input-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}

/* Estilos para inputs, textarea y select */
input,
textarea,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 1rem;
}

/* Estilo específico para el textarea que ocupa ambas columnas */
.textarea-container {
  grid-column: span 2; /* Descripción ocupa ambas columnas */
}

/* Contenedor del botón de envío */
.buttonSubmitSubCursoContainer {
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries para pantallas medianas */
@media (max-width: 768px) {
  .FormularioAgregarSubCursoContainer form h3 {
    font-size: 1.3rem;
  }

  .formularioAgregarSubCursoContentPrin {
    grid-template-columns: 1fr; /* Cambia a una columna */
  }

  .textarea-container {
    grid-column: span 1; /* Ajuste para una columna */
  }

  input,
  textarea,
  select {
    font-size: 0.95rem;
  }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 480px) {
  .FormularioAgregarSubCursoContainer {
    padding: 5px;
  }

  .FormularioAgregarSubCursoContainer form {
    padding: 15px;
  }

  .FormularioAgregarSubCursoContainer form h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .formularioAgregarSubCursoContentPrin {
    gap: 15px;
  }

  input,
  textarea,
  select {
    font-size: 0.9rem;
    padding: 6px;
  }

  .buttonSubmitSubCursoContainer {
    padding-top: 15px;
  }

  .error-message {
    font-size: 0.8rem;
  }
}
