:root {
  --BackgroudColor: #dc2626;
  --ColorItems: #fef2f2;
  --BackgroundColorHover: #ef4444;
  --BackgroundColorActive: #f9fafb;
}
.NavItemContainer {
  width: 100%;
  height: 80%;
  padding: 10px;
  background-color: var(--BackgroudColor);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--ColorItems);
  justify-content: center;
  align-self: center;
  align-content: center;
  cursor: pointer;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-decoration: none;
  transition: 150ms;
}

.IconContainer {
  font-size: 36px;
}

.NavItemContainer:hover {
  background-color: var(--BackgroundColorHover);
}

.NavItemContainer.active {
  background-color: var(--BackgroundColorActive);
  color: var(--BackgroudColor);
}
.PMd {
  margin: 0;
  cursor: pointer;
}


@media (max-height:728px) {
  .NavItemContainer {
    max-height: 108px; 
    display: flex;
    flex-direction: column;
  }
}
