:root{
    --ColorBorderCB:#171717;
    --ColorBackground:#FEF2F2;
    --ColorBorderBoxHover:#DC2626;
}
.ComBoxGeneralTareaXUnidadContainer{
    width: 94%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-sizing: border-box;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.ComBoxGeneralTareaXUnidadContainer .PMd{
    cursor: pointer;
}


.ComBoxGeneralTareaXUnidadContainer .ComBoxTareaXUnidadContainer{
    width: 94%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--ColorBorderCB);
    background-color: var(--ColorBackground);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-self: flex-start;
    margin-left: 10px;
    cursor: pointer;
}

.ComBoxGeneralTareaXUnidadContainer .ComBoxGeneralTareaXUnidadContainer .ArrowContainer{
    color: var(--ColorBorderCB);
    font-size: 34px;
    display: flex;
}

.ComBoxGeneralTareaXUnidadContainer .ComBoxTareaXUnidadContainer:hover{
    border: 1px solid var(--ColorBorderBoxHover);
    box-shadow: 4px 4px 4px 0px #dc262633;
    transition: 150ms;
}

.ComBoxGeneralTareaXUnidadContainer .ComBoxGeneralElementTareaContainer{
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
}

.ComBoxGeneralTareaXUnidadContainer .ComBoxGeneralElementTareaContainer .PMd{
    cursor: default;
}