:root{
    --ColorBorderCBEC:#171717;
    --ColorBackgroundCBEC:#FEE2E2;
    --ColorBorderBoxHoverCBEC:#DC2626;
}

.ComBoxElementCursoDocContainer{
    width: 94%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--ColorBorderCBEC);
    background-color: var(--ColorBackgroundCBEC);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-self: flex-start;
    margin-left: 10px;
}

.ComBoxElementCursoDocContainer .PMd{
    cursor: pointer;
}

.LinkComBoxElementCurso{
    text-decoration: none;
    color: inherit;
}

.MdContentPasteSearchContainer{
    color: var(--ColorBorderCBEC);
    font-size: 34px;
    display: flex;
}

.ComBoxElementCursoDocContainer:hover{
    border: 1px solid var(--ColorBorderBoxHoverCBEC);
    box-shadow: 4px 4px 4px 0px #dc262633;
    transition: 150ms;
}