

.CursosEstudianteContainer{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.CursosEstudianteContainer .LinkCursoCardEstudiante{
    text-decoration: none;
}

.VCursosEstudianteTitle{
    width: 100%;
    display: flex;
    align-self:flex-start;
    height: auto;
}
.VCursosEstudianteTitle h3{
    margin: 0;
    padding: 0;
    justify-self: start;
}