:root{
    --ColorBorderCardAuxiliar:#171717;
    --ColorHeaderCardAuxiliar:#DC2626;
    --ColorHeaderLabelCardAuxiliar: #FEF2F2;
}
.CardInformeDocenteAdministradorContainer{
    border: 1px solid var(--ColorBorderCardAuxiliar);
    padding: 0;
    width: 90%;
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.CardInformeDocenteAdministradorContainer .CardInformeDocenteAdministradorHeaderContainer{
    width: 100%;
    background-color: var(--ColorHeaderCardAuxiliar);
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    height: 10%;
    border-radius: 6px 6px 0 0;
}

.CardInformeDocenteAdministradorContainer .CardInformeDocenteAdministradorHeaderContainer h3{
    padding: 0;
    margin: 0;
    color: var(--ColorHeaderLabelCardAuxiliar);
}
.CardInformeDocenteAdministradorContainer .CardInformeDocenteAdministradorContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    flex: 1;
}

.CardInformeDocenteAdministradorContainer .CardInformeDocenteAdministradorButtonContainer{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width:1124px) {
 .CardInformeDocenteAdministradorContainer{
    width: 96%;
 }   
}

@media (max-width:996px) {
    .TablaVerNotasDocenteAdministradorBimestralContainer{
        
    }
   }
   