.VInformesDocenteAdministradorAuxiliarContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

.VInformesDocenteAdministradorAuxiliarContainer .VInformesDocenteAdministradorAuxiliarTitleContainer{
    height: auto;
    margin: 1%;
    align-self: flex-start;
}

.VInformesDocenteAdministradorAuxiliarContainer .VInformesDocenteAdministradorAuxiliarTitleContainer h3{
    padding: 0;
    margin: 0;
}

.VInformesDocenteAdministradorAuxiliarContainer .SelectInformesDocenteAdministradorAuxiliarContainer{
    height: auto;
    margin-left: 1%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    width: 720px;
    justify-content: space-between;
    gap: 20px;
}

.VInformesDocenteAdministradorAuxiliarContainer .SelectInformesDocenteAdministradorAuxiliarContainer.admin{
width: 900px;
}


.VInformesDocenteAdministradorAuxiliarContainer .VInformesDocenteAdministradorAuxiliarContent{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}


@media (max-width:932px){
    .VInformesDocenteAdministradorAuxiliarContainer .SelectInformesDocenteAdministradorAuxiliarContainer.admin{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4,1fr);
        width: 100%;  
    }
}

@media (max-width:760px){
    .VInformesDocenteAdministradorAuxiliarContainer .SelectInformesDocenteAdministradorAuxiliarContainer{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3,1fr);
            width: 100%;
    }
    .VInformesDocenteAdministradorAuxiliarContainer .SelectInformesDocenteAdministradorAuxiliarContainer.admin{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3,1fr);
        width: 100%;  
    }
}

@media (max-width:588px){
    .VInformesDocenteAdministradorAuxiliarContainer .SelectInformesDocenteAdministradorAuxiliarContainer{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2,1fr);
            width: 100%;
    }
    .VInformesDocenteAdministradorAuxiliarContainer .SelectInformesDocenteAdministradorAuxiliarContainer.admin{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2,1fr);
        width: 100%;  
    }
}

@media (max-width:380px){
    .VInformesDocenteAdministradorAuxiliarContainer .SelectInformesDocenteAdministradorAuxiliarContainer{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(1,1fr);
            width: 100%;
    }
    .VInformesDocenteAdministradorAuxiliarContainer .SelectInformesDocenteAdministradorAuxiliarContainer.admin{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1,1fr);
        width: 100%;  
    }
}