.VHonorDocenteAdministradorUnidadContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
}

.VHonorDocenteAdministradorUnidadContainer
  .VHonorDocenteAdministradorUnidadTitleContainer {
  height: auto;
  margin: 1%;
  margin-top: 0;
  align-self: flex-start;
}

.VHonorDocenteAdministradorUnidadContainer
  .VHonorDocenteAdministradorUnidadTitleContainer
  h3 {
  padding: 0;
  margin: 0;
}

.VHonorDocenteAdministradorUnidadContainer
  .SelectHonorDocenteAdministradorUnidadContainer {
  height: auto;
  margin-left: 1%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  width: 540px;
  justify-content: space-between;
  gap: 20px;
}

.VHonorDocenteAdministradorUnidadContainer
  .VHonorDocenteAdministradorUnidadContent {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

@media (max-width: 564px) {
  .VHonorDocenteAdministradorUnidadContainer
    .SelectHonorDocenteAdministradorUnidadContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (max-width: 380px) {
  .VHonorDocenteAdministradorUnidadContainer
    .SelectHonorDocenteAdministradorUnidadContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
