.alerta-cambio-password {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff3cd; /* Fondo crema */
  color: #856404; /* Texto amarillo oscuro */
  border: 1px solid #ffeeba; /* Borde amarillo */
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Asegura que esté encima de otros elementos */
  max-width: 300px;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease-in-out; /* Suaviza los cambios de posición */
}

.alerta-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.alerta-icono {
  font-size: 28px;
  margin-right: 10px;
}

.alerta-cambio-password strong {
  font-size: 18px;
  font-weight: bold;
}

.alerta-cambio-password p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  text-align: left; /* Alinea el texto a la izquierda */
}

.alerta-cambio-password button {
  display: block;
  width: 100%; /* Botón ocupa todo el ancho disponible */
  background-color: #e66751; 
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  transition: 150ms;
}

.alerta-cambio-password button:hover {
  background-color: goldenrod; 
}

/* Estilo para dispositivos móviles (ancho máximo de 600px) */
@media (max-width: 600px) {
  .alerta-cambio-password {
    bottom: 10px;
    right: 50%;
    transform: translateX(50%); /* Centra horizontalmente */
    max-width: 90%; /* Ocupa el 90% del ancho */
  }
}

/* Estilo para tablets (ancho entre 601px y 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .alerta-cambio-password {
    bottom: 20px;
    right: 20px; /* Mantiene la posición inferior derecha */
    max-width: 350px; /* Ajusta el ancho */
  }
}

/* Estilo para pantallas grandes (ancho mayor a 1024px) */
@media (min-width: 1025px) {
  .alerta-cambio-password {
    bottom: 10px;
    right: 10px; /* Posición original */
  }
}
