.VCursosAdministradorContainer {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.VCursosAdminTitle {
  width: 100%;
  display: flex;
  align-self: flex-start;
  height: auto;
}
.VCursosAdminFilters {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
.VCursosAdminFilters label, .VCursosAdminFilters select{
    margin: 10px;
}
.VCursosAdminTitle h3 {
  margin: 0;
  padding: 0;
  justify-self: start;
}
