.VHorarioAdministradorDocenteContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
}

.VHorarioAdministradorDocenteContainer
  .VHorarioAdministradorDocenteTitleContainer {
  height: auto;
  margin: 1%;
  align-self: flex-start;
}

.VHorarioAdministradorDocenteContainer
  .VHorarioAdministradorDocenteTitleContainer
  h3 {
  padding: 0;
  margin: 0;
}

.VHorarioAdministradorDocenteContainer
  .SearchHorarioAdministradorDocenteContainer {
  height: auto;
  margin-left: 1%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  width: 540px;
  justify-content: space-between;
}

.VHorarioAdministradorDocenteContainer .VHorarioAdministradorDocenteContent {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}

.VHorarioAdministradorDocenteContainer .ButtonFormularioContent {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width:620px){
  .VHorarioAdministradorDocenteContainer
  .SearchHorarioAdministradorDocenteContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1,1fr);
    width: 100%;  
  }
}
