

.CursosDoContainer{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.VCursosDocenTitle{
    width: 100%;
    display: flex;
    align-self:flex-start;
    height: auto;
}
.VCursosDocenTitle h3{
    margin: 0;
    padding: 0;
    justify-self: start;
}