
:root{
    --ColorBtnPrin:#DC2626;
    --ColorBtnPrinHover:#EF4444;
    --ColorButton:#FEF2F2;
    --ColorBorderButton:#171717;
}
.BtnPrimaryContainer{
    width: 112px;
    height: 36px;
}

.BtnPrimaryContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--ColorBtnPrin);
    color: var(--ColorButton);
    cursor: pointer;
    border: 1px solid var(--ColorBorderButton);
}
.BtnPrimaryContent:hover{
    background-color: var(--ColorBtnPrinHover);
    transition: 150ms;
}