.VGestionCursosSubCursosContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}


.VGestionCursosSubCursosContainer .VGestionCursosSubCursosContainerTitle{
    align-self: flex-start;
    margin-bottom: 20px;
}

.VGestionCursosSubCursosContainer .VGestionCursosSubCursosContainerTitle h3{
    margin: 0;
    padding: 0;
    font-size: 28px;
}

/* Barra de búsqueda */
.VGestionCursosSubCursosContainerSearch {
    margin-bottom: 20px;
}

.VGestionCursosSubCursosContainerSearch .SearchComponentContainer {
    width: 100%;
    max-width: 350px;
}

/* Contenido principal */
.VGestionSubCursosContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.VGestionSubCursosContainer .FormularioAgregarSubCurso {
    margin-bottom: 20px;
}

/* Tabla de Subcursos */
.TablaGestionSubCursos {
    width: 100%;
    overflow-x: auto;
    /* Para tablas anchas en pantallas pequeñas */
}

/* Botón Mostrar/Ocultar */
.VGestionCursosSubCursosContainer .ButtonFormularioContent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.VGestionCursosSubCursosContainer .ButtonFormularioContent .PrimaryButton {
    width: 200px;
}


/* Pantallas medianas */
@media (max-width: 768px) {
    .VGestionCursosSubCursosContainer {
        padding: 15px;
    }

    .VGestionCursosSubCursosContainerTitle h3 {
        font-size: 24px;
    }

    .ButtonFormularioContent .PrimaryButton {
        width: 180px;
    }
}

/* Pantallas pequeñas */
@media (max-width: 480px) {
    .VGestionCursosSubCursosContainer {
        padding: 10px;
    }

    .VGestionCursosSubCursosContainerTitle h3 {
        font-size: 20px;
    }

    .VGestionCursosSubCursosContainerSearch {
        margin-bottom: 15px;
    }

    .ButtonFormularioContent .PrimaryButton {
        width: 100%;
    }

    .TablaGestionSubCursosContainer {
        margin: 15px 0;
    }
}


