.VHonorEstudianteContainer{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}

.VHonorEstudianteContainer .LinkVHonorEstudiante{
    text-decoration: none;
}

.VHonorEstudianteContainer .TitleHonorEstudiante{
    align-self:flex-start;
    margin: 1%;
    height: auto;
}
.VHonorEstudianteContainer .TitleHonorEstudiante h3{
    margin: 0;
    padding: 0;
}
.VHonorEstudianteContainer .VHonorEstudianteButtonsContainer{
    align-self: start;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.VHonorEstudianteContainer .CambHonorEstudiante{
    width: 100%;
}