:root {
  --Color-Border-textarea: #171717;
  --Color-Border-textarea-Hover: #dc2626;
}

.TextAreaComponentContainer {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--Color-Border-textarea);
  align-items: flex-start;
}

.IconTextAreaContainer {
  margin: 0;
  padding: 0;
  font-size: 28px;
  display: flex;
  color: var(--Color-Border-textarea);
  align-self: flex-start;
}

.TextAreaComponentContainer:hover {
  border-color: var(--Color-Border-textarea-Hover);
  color: var(--Color-Border-textarea-Hover);
  transition: 150ms;
}

.TextAreaComponentContainer .IconTextAreaContainer:hover {
  color: var(--Color-Border-textarea-Hover);
  transition: 150ms;
}

.TextAreaComponentContainer textarea {
  flex: 1; /* Ocupa el espacio restante */
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 8px;
  resize: none;
  font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
}

/* Media Queries para pantallas medianas */
@media (max-width: 768px) {
  .TextAreaComponentContainer {
    padding: 8px;
  }

  .IconTextAreaContainer {
    font-size: 24px;
  }

  .TextAreaComponentContainer textarea {
    font-size: 14px;
  }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 480px) {
  .TextAreaComponentContainer {
    align-items: stretch;
  }

  .IconTextAreaContainer {
    margin-bottom: 8px;
  }

  .TextAreaComponentContainer textarea {
    margin-left: 0;
  }
}
