:root {
  --BorderTableInputNotas: #171717;
  --BackgroudColorTableInputNotasTh: #ef4444;
  --ColorTableInputNotasTh: #fef2f2;
}

.TablaNotasInputContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.TablaNotasInputContainer .TablaNotasInputEmpty{
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TablaNotasInputContainer form {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TablaNotasInputContainer form .ButtonSubmitSubirNotasDocAdmContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 10px;
}

.TableInputNotas {
  width: 100%;
  border-collapse: collapse;
}
.TableInputNotas,
th,
td {
  border: 1px solid var(--BorderTableInputNotas);
}

.TableInputNotas tr td {
  padding: 8px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--PMdsize);
}

.TableInputNotas tr .Tdcomp{
  text-align: center;
}
.TableInputNotas tr th {
  padding: 8px;
  box-sizing: border-box;
  font-size: var(--PMdsize);
}
/* Eliminar las flechas de input number en chrome y safari*/
.TableInputNotas tr td input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Eliminar las flechas de input number en Firefox*/
.TableInputNotas tr td input[type="number"] {
  /*-moz-appearance: textfield;*/
  margin: 0;
}

.TableInputNotas tr .Tdcomp {
  width: 60px;
  padding: 2px;
}
.TableInputNotas th {
  background-color: var(--BackgroudColorTableInputNotasTh);
  color: var(--ColorTableInputNotasTh);
}
.TableInputNotas td input {
  padding: 4px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}


  @media (max-width: 462px) {
    .TableInputNotas tr td {
      padding: 4px;
    }

    .TableInputNotas tr th {
      padding: 4px;

    }
  }

  @media (max-width: 392px) {
    .TableInputNotas tr td {
      padding: 2px;
    }

    .TableInputNotas tr th {
      padding: 2px;

    }
  }

  
  @media (max-width: 356px) {
    .TableInputNotas tr td {
      font-size: var(--PSmsize);
    }

    .TableInputNotas tr th {
      font-size: var(--PSmsize);
      font-weight:normal;
    }
  }