:root{
    --BackgroudColorVSubirNotasContent:#F4F4F5;
    --BorderVSubirNotasContent:#171717;
    --ColorBtnSubmit:#DC2626;
    --ColorBtnSubmitHover:#EF4444;
    --ColorButtonSubmit:#FEF2F2;
}
.VVerNotasContainer{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}
.OpcionTitleVVerNotasDocentes{
    align-self:flex-start;
    margin: 1%;
    height: auto;
}

.OpcionTitleVVerNotasDocentes h3{
    margin: 0;
    padding: 0;
}

.VVerNotasContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: none;
    min-height: 440px;
    padding: 1%;
    box-sizing: border-box;
    align-self: flex-start;
    margin-left: 0.5%;
    box-sizing: border-box;
    background-color: var(--BackgroudColorVSubirNotasContent);
    border: 1px solid var(--BorderVSubirNotasContent) ;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1%;
}

.InfoVerNot{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;

}
.InfoVerNot P{
    align-self: flex-start;
    margin: 0;
    padding-right: 20px;
}
.InfoVerNot .PMd{
    cursor: default;
}

.InfoVerNot select{
    margin: 0;
    padding-right: 20px;
}

.ContVerNot{
    display: flex;
    width: 100%;
    height: 80%;
    min-height: 352px;
}

