:root{
    --BackgroudColorVSubirNotasContent:#F4F4F5;
    --BorderVSubirNotasContent:#171717;
    --ColorBtnSubmit:#DC2626;
    --ColorBtnSubmitHover:#EF4444;
    --ColorButtonSubmit:#FEF2F2;
}
.VVerNotasContainer{
    width: 100%;
    height: auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}
.VVerNotasContainer .OpcionTitleVVerNotasDocentes{
    align-self:flex-start;
    height: auto;
}

.VVerNotasContainer .OpcionTitleVVerNotasDocentes h3{
    margin: 0;
    padding: 0;
}

.VVerNotasContainer .VVerNotasContent{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    max-height: none;
    min-height: 440px;
    padding: 1%;
    box-sizing: border-box;
    align-self: flex-start;
    justify-content: center;
    margin-left: 0.5%;
    box-sizing: border-box;
    background-color: var(--BackgroudColorVSubirNotasContent);
    border: 1px solid var(--BorderVSubirNotasContent) ;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1%;
    margin-top: 1%;
}

.VVerNotasContainer .InfoVerNot{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 10px;
}

.VVerNotasContainer .InfoVerNot .PMd{
    padding-right: 20px;
    cursor: default;
    align-self: center;
}

.VVerNotasContainer .ContVerNot{
    display: flex;
    width: 100%;
    height: 80%;
    min-height: 352px;
}

